.form {
	background-color: #ebebeb;
	margin-top: 4rem;
	padding: 4rem;
	text-align: right;
}
label {
	font-size: 2rem;
	text-align: left;
	display: block;
}
.input {
	display: block;
	font-size: 1.8rem;
	margin-top: 1.5rem;
	width: 100%;
	padding: 1.5rem 2rem;
	margin-bottom: 2rem;
}
.button {
	background-color: #0087d7;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline;
	font-size: 1.8rem;
	font-weight: 600;
	padding: 1rem 4rem;
	text-align: center;
}
.button:focus {
	outline: none;
}
